<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Chucksoft.Resources.Properties.Settings.PhotosConnectionString"
            connectionString="Data Source=APOLLO;Initial Catalog=Photos;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>